
@tailwind base;
@tailwind components;
@tailwind utilities;



.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.TextOverlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
  height: 90vh;
  position: absolute;
  z-index: 1;
  color: white;
 

}

.Text {
  height: 20%;
  font-size: 80px;
  font-weight: 300;
  
  font-family: "Noto Sans";
  text-shadow: 
  -.5px -.5px 0 #000, /* Top-left shadow */
   .5px -.5px 0 #000, /* Top-right shadow */
  -.5px  .5px 0 #000, /* Bottom-left shadow */
   .5px  .5px 0 #000; /* Bottom-right shadow */
}

/* iframe {
  zoom: .05;
}
#container {
  width: 10px;
} */



#parent {
  width: 34.5px;
  height: 28.0px;
  
}



#wrap
{
   position: relative; padding-bottom: 53%; height: 0; overflow: hidden;
}

iframe
{
  
 
  position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;
}

.screen {
 position: absolute;
}



